#Player1Stats {
    grid-row: 2;
    grid-column: 1;
}

#Player2Stats {
    grid-row: 2;
    grid-column: 3;
}

.Player_stats {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    padding: 5%;
    justify-self: center;
    align-self: center;
    background: #0a53be;
}

.Stats_Entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Player_stats > h2 {
    grid-row: 1;
    justify-self: center;
    /*font-family: "Lucida Bright";*/ /* TODO Set this */
    font-weight: bolder;
    font-size: 40px;    
    color: black;
}

.Stats_Entry > * {
    font-size:25px ;
    font-weight: bold;
    color: black;
}

.Stats_Entry > .Stats_Text {
    justify-self: right;
    padding-left: 20%;
    text-align: right;
    width: 100%;
    height: 100%;
}

.Stats_Entry > .Stats_Stat {
    justify-self: center;
}

.Stats_Buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
}

.Stats_Buttons > * {
    width: 75%;
    height: 100%;
    padding:4%;
    min-width: fit-content;
    min-height: fit-content;
}

.Stats_draw {
    justify-self: left;
}

.Stats_surrender {
    justify-self: right;
}

.ShipsLayout {
    grid-row: 2 / span all;
    grid-column: 1 / span all;
    /*background-color: green;*/
    
}

.ShipsLayout {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
}

.Placing_Ship {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    justify-self: center;
}

.Placing_Ship > img {
    width: 75%;
}

.Placing_Ship > div {
    font-size: 22px ;
    font-family: "Lucida Bright";
    justify-self: center;
}

.player1Field {
    background-image: url("Img/blue_captain.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.player2Field {
    background-image: url("Img/red_captain.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.activePlayer1 {
    background-image: linear-gradient(0deg, rgba(97,86,67,0) 80%, rgba(255,255,0,1)), url("Img/blue_captain.png");
    color: yellow;
}

.activePlayer2 {
    background-image: linear-gradient(0deg, rgba(97,86,67,0) 80%, rgba(255,255,0,1)), url("Img/red_captain.png");
    color: yellow;
}

/*.activePlayer {*/
/*    background: linear-gradient(0deg, rgba(97,86,67,0) 80%, rgba(255,255,0,1) 100%);*/
/*    color: yellow;*/
/*}*/






